<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <h1>Contact Us</h1>
        <form>
            <input
            type="text"
            placeholder="Your Name">
            <br><br>
            <input
            type="email"
            placeholder="Your Email">
            <br><br>
            <textarea
            placeholder="Message"></textarea>

        </form>
        <a href="/">Back Home</a>
    </body>
</html>