<!DOCTYPE html>
<html>
    <head>
        <title>Jirmass Plastics</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <header>
            <h1>Jirmass Plastics</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </nav>
        </header>
        <section>
            <h2>Define Your Quality</h2>
            <p>
                Premium African Plastics
            </p>
            <button>Shop Now</button>
        </section>
    </body>
</html>